@import 'tailwindcss';
@import '@nuxt/ui';
@import './fonts.css';

:root {
    --ui-primary: #a96524;

    --ui-secondary: #e9a319;

    --ui-success: green;

    --ui-info: #fcefcb;

    --ui-warning: #e8a318;

    --ui-error: rgb(172, 0, 0);

    --ui-bg: #e9a319;

    --ui-neutral: rgb(159, 106, 106);
}

body {
    background-color: #fff8e5;
}
